In [33]:
import pandas as pd

In [34]:
#issue
#- 행 (서울시 = 합계 : 데이터 13)

In [93]:
#데이터 1 
df01 = pd.read_excel('데이터/01_서울시 주민등록인구 (구별)통계_05-18.xls', header=2)
df01_ft=df01[['기간', '자치구','계.1','남자.1','여자.1']]
df01_ft.rename(columns={'기간':'년도','계.1':'사람 수','남자.1':'남자수', '여자.1':'여자수'}, inplace = True)
df01_ft

       년도  자치구      사람 수      남자수      여자수
0    2005   합계  10167344  5062492  5104852
1    2005  종로구    169315    84981    84334
2    2005   중구    130027    64995    65032
3    2005  용산구    230260   113158   117102
4    2005  성동구    337744   169346   168398
..    ...  ...       ...      ...      ...
359  2018  관악구    501957   252160   249797
360  2018  서초구    433951   207868   226083
361  2018  강남구    542364   259611   282753
362  2018  송파구    666635   323526   343109
363  2018  강동구    427573   211816   215757

[364 rows x 5 columns]

In [94]:
#데이터 2
df02= pd.read_excel('데이터/02_서울시 유기동물보호 현황 통계(05~18).xls', header=2)
df02_ft=df02[['기간','자치구','계','인도(주인)','입양분양','폐사안락사','계류기증']]
df02_ft.rename(columns={'기간':'년도',"계":"유기견수","인도(주인)":"복귀"}, inplace = True)
df02_ft

       년도  자치구   유기견수   복귀  입양분양  폐사안락사  계류기증
0    2005   합계  14679  601   525   7736  5817
1    2005  종로구    258   12     3     89   154
2    2005   중구    264    0     9    102   153
3    2005  용산구    383   12    12    170   189
4    2005  성동구    431   19     7     96   309
..    ...  ...    ...  ...   ...    ...   ...
359  2018  관악구    493  207   275     11     -
360  2018  서초구    124   42    15     64     3
361  2018  강남구    158   58    41     57     2
362  2018  송파구    211   57    62     90     2
363  2018  강동구    291  130   107     52     2

[364 rows x 7 columns]

In [95]:
#데이터 결과 = 데이터 1 + 데이터 2
df_result=pd.merge(df01_ft,df02_ft)
df_result

       년도  자치구      사람 수      남자수      여자수   유기견수   복귀  입양분양  폐사안락사  계류기증
0    2005   합계  10167344  5062492  5104852  14679  601   525   7736  5817
1    2005  종로구    169315    84981    84334    258   12     3     89   154
2    2005   중구    130027    64995    65032    264    0     9    102   153
3    2005  용산구    230260   113158   117102    383   12    12    170   189
4    2005  성동구    337744   169346   168398    431   19     7     96   309
..    ...  ...       ...      ...      ...    ...  ...   ...    ...   ...
359  2018  관악구    501957   252160   249797    493  207   275     11     -
360  2018  서초구    433951   207868   226083    124   42    15     64     3
361  2018  강남구    542364   259611   282753    158   58    41     57     2
362  2018  송파구    666635   323526   343109    211   57    62     90     2
363  2018  강동구    427573   211816   215757    291  130   107     52     2

[364 rows x 10 columns]

In [96]:
#데이터 3 (서울시 / 합계 이슈)
df03 = pd.read_excel('데이터/03_서울시 반려동물 유무 및 취득 경로 통계(14~18).xls', header=1)
df03.rename(columns={"대분류":"자치구", "기간":"년도"}, inplace = True)
a = df03.loc[0,'자치구']
df03 = df03.replace(a,'합계')
df03

,년도,자치구,분류,있다,없다,동물판매업소,유상입양,무상입양,인터넷을 통해 구입,유기동물 입양,원래 기르던 동물이 낳은 새끼,기타
0,2014,합계,합계,19.4,80.6,34.6,18.9,39.4,1.8,3.5,7.2,0.1
1,2014,성별,남자,18.8,81.2,35,18,39.9,1.9,3.3,7.1,0.1
2,2014,성별,여자,22.5,77.5,32.9,23.1,37.2,1.2,4.4,7.8,-
3,2014,연령별,20대 이하,21.5,78.5,42,20.4,33.1,1.7,2.2,5,-
4,2014,연령별,30대,15.5,84.5,36.4,18.6,39.5,2.7,3.1,4.6,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
295,2018,관악구,관악구,…,…,-,-,-,-,-,-,-
296,2018,서초구,서초구,…,…,-,-,-,-,-,-,-
297,2018,강남구,강남구,…,…,-,-,-,-,-,-,-
298,2018,송파구,송파구,…,…,-,-,-,-,-,-,-
299,2018,강동구,강동구,…,…,-,-,-,-,-,-,-

In [97]:
#데이터 결과 = 데이터 결과 +데이터 3
df_result = pd.merge(df_result, df03, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,분류,있다,없다,동물판매업소,유상입양,무상입양,인터넷을 통해 구입,유기동물 입양,원래 기르던 동물이 낳은 새끼,기타
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,도심권,22.4,77.6,-,-,-,-,-,-,-
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,동북권,20.2,79.8,-,-,-,-,-,-,-
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서북권,19.8,80.2,-,-,-,-,-,-,-
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서남권,18.1,81.9,-,-,-,-,-,-,-
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,동남권,22.3,77.7,-,-,-,-,-,-,-

In [98]:
#데이터 6
df06 = pd.read_excel('데이터/06_서울시 가구원수별 가구수(구별) 통계(05,10,15,16,17,18).xls', header=1)
df06.rename(columns={'구분':'자치구', '기간':'년도'}, inplace = True)
df06

,년도,자치구,계,1인가구,2인가구,3인가구,4인가구,5인 가구,6인가구,7인이상 가구,평균가구원수
0,2005,합계,3309890,675739,670455,732043,917243,248450,49781,16179,2.9
1,2005,종로구,54534,14592,11641,10624,12373,4087,905,312,2.7
2,2005,중구,46625,13128,9833,9270,9961,3538,627,268,2.7
3,2005,용산구,76125,18218,18032,16187,17302,4902,1088,396,2.7
4,2005,성동구,111485,23161,24104,24784,28823,8263,1756,594,2.8
...,...,...,...,...,...,...,...,...,...,...,...
151,2018,관악구,236761,112733,54106,35925,25997,6172,1451,377,2.0
152,2018,서초구,155418,41137,38475,35620,31029,7112,1598,447,2.6
153,2018,강남구,203083,62727,50076,43542,36572,8063,1664,439,2.4
154,2018,송파구,243547,63451,61970,56824,48156,10366,2235,545,2.5
155,2018,강동구,159233,42126,41450,36503,30197,7084,1468,405,2.5

In [99]:
#데이터 결과 = 데이터 결과 + 데이터 6
df_result = pd.merge(df_result, df06, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,기타,계,1인가구,2인가구,3인가구,4인가구,5인 가구,6인가구,7인이상 가구,평균가구원수
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,3309890.0,675739.0,670455.0,732043.0,917243.0,248450.0,49781.0,16179.0,2.9
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,54534.0,14592.0,11641.0,10624.0,12373.0,4087.0,905.0,312.0,2.7
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,46625.0,13128.0,9833.0,9270.0,9961.0,3538.0,627.0,268.0,2.7
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,76125.0,18218.0,18032.0,16187.0,17302.0,4902.0,1088.0,396.0,2.7
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,111485.0,23161.0,24104.0,24784.0,28823.0,8263.0,1756.0,594.0,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
#데이터 11
df11 = pd.read_excel('데이터/11_서울시 세대원수별 세대수(구별) 통계(13~18).xls', header=0)
df11.rename(columns={'기간':'년도'}, inplace = True)
df11

,년도,자치구,전체세대,1인세대,2인세대,3인세대,4인세대,5인세대,6인세대,7인세대,8인세대,9인세대,10인세대 이상
0,2013,합계,4182351,1510202,810516,780698,822832,200130,44057,9977,2583,805,551
1,2013,종로구,73693,34259,13213,11146,10932,3123,755,197,40,14,14
2,2013,중구,60600,27959,11709,9385,8515,2287,548,137,33,10,17
3,2013,용산구,109361,48569,21093,17772,16371,4208,984,244,82,20,18
4,2013,성동구,126447,47609,25016,23452,22951,5613,1370,316,87,27,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2018,관악구,262222,142742,48591,33787,28087,6823,1576,425,129,37,25
152,2018,서초구,172918,57213,34019,34110,35896,8780,2067,552,177,59,45
153,2018,강남구,228775,88584,42357,40866,43665,10097,2292,618,180,77,39
154,2018,송파구,270866,90734,55726,54172,54371,12242,2704,623,207,56,31
155,2018,강동구,177247,61564,37946,34542,32974,7933,1695,429,110,27,27

In [101]:
#데이터 결과 = 데이터 결과 + 데이터 11
df_result = pd.merge(df_result, df11, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,1인세대,2인세대,3인세대,4인세대,5인세대,6인세대,7인세대,8인세대,9인세대,10인세대 이상
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
#데이터 13 (서울시 / 합계 이슈)
df13 = pd.read_excel('데이터/13_서울시 주택종류별 주택(구별) 통계(15~18).xls', header=2)
df13_ft=df13[['기간','자치구','소계','아파트','연립주택','다세대주택','비거주용 건물내 주택']]
df13_ft.rename(columns={'기간':'년도'}, inplace = True)
a = df13_ft.loc[0,'자치구']
df13_ft = df13_ft.replace(a,'합계')
df13_ft

       년도  자치구      소계      아파트    연립주택   다세대주택  비거주용 건물내 주택
0    2015   합계  355039  1636896  117235  654372        29702
1    2015  종로구   13103    12552    5395   11664          836
2    2015   중구    6436    22186    1975    6148          733
3    2015  용산구   15503    35343    4029   15206          642
4    2015  성동구   11250    59331    2076    8610         1064
..    ...  ...     ...      ...     ...     ...          ...
99   2018  관악구   21584    53915    6442   41274         1933
100  2018  서초구    6395    93299    5592   25426         1328
101  2018  강남구    7283   124418    6121   31817         1792
102  2018  송파구    8441   119226    4797   65656         1619
103  2018  강동구   10467    75473    3512   32149         1117

[104 rows x 7 columns]

In [103]:
#데이터 결과 = 데이터 결과 + 데이터 13
df_result = pd.merge(df_result, df13_ft, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,6인세대,7인세대,8인세대,9인세대,10인세대 이상,소계,아파트,연립주택,다세대주택,비거주용 건물내 주택
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
#데이터 07
df07 = pd.read_excel('데이터/07_서울시 공원 (공원율) 통계 [10-18].xls', header=1)
df07_ft=df07[['기간','구분','행정구역면적(㎡)','합계','공원율(%)']]
df07_ft.rename(columns={'기간':'년도', '구분':'자치구','합계':'공원면적(㎡)'}, inplace = True)
df07_ft

       년도    자치구  행정구역면적(㎡)    공원면적(㎡) 공원율(%)
0    2010     합계  605251484  169792302  28.05
1    2010    종로구   23907423   10900949   45.6
2    2010     중구    9959933    3125323  31.38
3    2010    용산구   21867354    1350163   6.17
4    2010    성동구   16848684    2869532  17.03
..    ...    ...        ...        ...    ...
238  2018    서초구   46982024   16036321  34.13
239  2018    강남구   39501308    6591655  16.69
240  2018    송파구   33876548    4642075   13.7
241  2018    강동구   24589280    3369970  13.71
242  2018  서울대공원          -    6670000      -

[243 rows x 5 columns]

In [105]:
#데이터 결과= 데이터 결과 + 데이터 07
df_result = pd.merge(df_result, df07_ft, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,9인세대,10인세대 이상,소계,아파트,연립주택,다세대주택,비거주용 건물내 주택,행정구역면적(㎡),공원면적(㎡),공원율(%)
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,2014,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
539,2015,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
540,2016,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
541,2017,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
542,2018,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-

In [106]:
#데이터 08
df08 = pd.read_excel('데이터/08_서울시 공원 통계 [13-18].xls', header=2)
df08_ft=df08[['기간','자치구','공원수']]
df08_ft.rename(columns={'기간':'년도', '공원수':'공원 계'}, inplace = True)
df08_ft

       년도    자치구  공원 계
0    2013     합계  2782
1    2013    종로구   114
2    2013     중구    68
3    2013    용산구   101
4    2013    성동구    80
..    ...    ...   ...
157  2018    서초구   165
158  2018    강남구   155
159  2018    송파구   168
160  2018    강동구   124
161  2018  서울대공원     1

[162 rows x 3 columns]

In [107]:
#데이터 결과= 데이터 결과 + 데이터 08
df_result = pd.merge(df_result, df08_ft, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,10인세대 이상,소계,아파트,연립주택,다세대주택,비거주용 건물내 주택,행정구역면적(㎡),공원면적(㎡),공원율(%),공원 계
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,2014,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
539,2015,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
540,2016,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
541,2017,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
542,2018,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0

In [117]:
#데이터 14
# pd.read_excel('엑셀파일명.xlsx', sheet_name = '시트이름')

df14 = pd.read_excel('데이터/14_서울시 직업유형별 취업인구 (구별) 통계(10,15)_set.xls',  header=1)
#df14_ft=df14[['기간','행정구역','직업유형','합계']]
#df14_ft.rename(columns={'기간':'년도','행정구역':'자치구'}, inplace = True)
df14
type(df14)

pandas.core.frame.DataFrame

In [116]:
#데이터 결과= 데이터 결과 + 데이터14
df_reee= pd.merge(df13333, df14, how='outer').dtypes
df_reee

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [121]:
df.convert_objects(convert_numeric=True)

NameError: name 'df' is not defined

In [119]:
pd.merge(df13333, df14,how='outer').dtypes

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [118]:
pd.concat([df13333,df14]).dtypes

C:\ai\python\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

10인세대 이상            float64
1인가구                float64
1인세대                float64
2인가구                float64
2인세대                float64
3인가구                float64
3인세대                float64
4인가구                float64
4인세대                float64
5인 가구               float64
5인세대                float64
6인가구                float64
6인세대                float64
7인세대                float64
7인이상 가구             float64
8인세대                float64
9인세대                float64
계                   float64
계류기증                 object
공원 계                float64
공원면적(㎡)             float64
공원율(%)               object
관리자                 float64
기능원 및 관련기능종사자       float64
기타                   object
남자수                 float64
년도                    int64
농림어업 숙련 종사자         float64
다세대주택               float64
단순노무종사자             float64
동물판매업소               object
무상입양                 object
복귀                  float64
분류                   object
비거주용 건물내 주택         float64
사람 수                float64
사무종사자               float64
서비스종사자              float64
소계                  float64
아파트                 float64
없다                   object
여자수                 float64
연립주택                float64
원래 기르던 동물이 낳은 새끼     object
유기견수                float64
유기동물 입양              object
유상입양                 object
인터넷을 통해 구입           object
입양분양                float64
있다                   object
자치구                  object
장치기계조작 및 조립종사자      float64
전문가 및 관련종사자         float64
전체세대                float64
판매종사자               float64
평균가구원수              float64
폐사안락사               float64
행정구역면적(㎡)            object
dtype: object

In [ ]:
data_x.merge(data_y, on='key')

In [91]:

df_result.astype(int)
df14.astype(int)
df_re2 = df_result.merge(df14)

df_re2

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [115]:
df14

,년도,자치구,소계,관리자,전문가 및 관련종사자,사무종사자,서비스종사자,판매종사자,농림어업 숙련 종사자,기능원 및 관련기능종사자,장치기계조작 및 조립종사자,단순노무종사자,기타
0,2010,합계,4609336,192621,1166525,929604,480995,658545,11299,388647,303590,467694,7631
1,2010,종로구,71986,2717,17824,12858,8468,11519,128,7926,2941,7231,319
2,2010,중구,59446,1572,11395,10352,6771,11646,32,7011,3728,6845,49
3,2010,용산구,107961,5008,28177,21806,12051,17264,121,7475,4744,10689,592
4,2010,성동구,142092,4981,32435,27964,14240,21081,305,15060,10180,15715,97
5,2010,광진구,180414,6418,44713,34641,20682,26444,539,16620,12152,18059,59
6,2010,동대문구,159172,4249,32597,29048,16340,29871,362,17169,10469,18881,114
7,2010,중랑구,195893,3873,34367,31129,22404,32293,860,27786,18412,24689,58
8,2010,성북구,213319,7275,48901,39957,22449,34455,592,23562,13729,22169,174
9,2010,강북구,152035,3381,27178,26925,17324,25243,297,19868,11798,19933,52
10,2010,도봉구,160753,5051,34350,30030,16935,26230,407,16085,14273,17298,90
11,2010,노원구,253521,10543,65122,52302,25329,35305,579,20776,17690,25140,656
12,2010,은평구,210227,5985,46648,40347,24099,32108,647,19553,16688,23941,151
13,2010,서대문구,143307,5028,34939,28501,16113,20418,279,11675,9114,17007,76
14,2010,마포구,178552,7601,49543,39765,20120,23951,286,11845,9472,15836,126
15,2010,양천구,210559,12049,56088,42963,19649,27541,279,16292,15766,19788,103
16,2010,강서구,259226,8920,61082,56226,27192,35194,733,21959,20920,26467,506
17,2010,구로구,199284,6770,47600,41056,19332,26686,318,17276,17889,22190,79
18,2010,금천구,114995,2612,21530,19840,11809,15698,202,15121,13092,15034,28
19,2010,영등포구,187716,7821,47937,39601,19088,24339,262,14293,12556,20573,1119
20,2010,동작구,184831,7267,51811,39880,18280,24300,350,12848,10240,19059,657
21,2010,관악구,258048,7623,69468,54634,28129,32586,635,20796,14740,28312,673
22,2010,서초구,183967,17588,68150,41603,15844,19515,671,5266,4559,10240,405
23,2010,강남구,253471,21760,87726,56902,27229,29820,601,7887,6654,14678,161
24,2010,송파구,306795,17973,92034,66069,27987,43213,762,16838,15555,24937,1174
25,2010,강동구,221766,8556,54910,45205,23131,31825,1052,17660,16229,22983,113
26,2015,합계,4704568,124924,1288705,979576,503786,661439,6284,394439,283597,452881,8937
27,2015,종로구,72265,1687,18433,14768,8377,11196,98,7882,2536,6978,310
28,2015,중구,59861,1163,13541,10866,6639,11824,38,6206,3424,6114,46
29,2015,용산구,106678,4409,30210,20575,13220,14619,71,7811,4693,10382,688
30,2015,성동구,144719,5663,38187,27762,15016,19473,118,14451,9301,14714,34
31,2015,광진구,181481,4807,49051,34033,21340,25678,223,16830,10557,18887,75
32,2015,동대문구,167533,2766,38144,32836,18867,29106,164,17932,9923,17706,89
33,2015,중랑구,201743,3080,40892,32250,22351,31084,303,29460,16418,25765,140
34,2015,성북구,210715,6558,51547,41542,22005,32935,244,22711,12261,20644,268
35,2015,강북구,151430,1920,29202,25675,18490,25320,179,19685,11444,19421,94
36,2015,도봉구,158846,2046,34515,31631,17210,26766,223,16230,13852,16279,94
37,2015,노원구,252322,3882,66046,56480,26348,37229,358,19176,17408,24806,589
38,2015,은평구,228374,3432,54118,48496,26749,34488,548,20526,16027,23779,211
39,2015,서대문구,142557,2024,36422,32710,17583,20519,126,10715,8167,14163,128
40,2015,마포구,187115,3444,56881,45382,20262,24623,193,11502,8592,16097,139
41,2015,양천구,219117,5977,61154,50847,20979,28642,267,16281,15990,18641,339
42,2015,강서구,280164,7441,71563,61844,31503,38767,504,21264,19845,26981,452
43,2015,구로구,204936,4053,53348,42695,20730,26926,162,18496,17432,20991,103
44,2015,금천구,119876,1561,24555,20983,13410,14604,103,17045,11902,15286,427
45,2015,영등포구,185518,5443,54016,41133,18251,24279,148,13664,10092,17516,976
46,2015,동작구,192677,5481,56492,44347,19907,25692,194,13177,9049,17552,786
47,2015,관악구,258981,5914,77409,49292,29538,31199,227,22135,14861,27673,733
48,2015,서초구,196572,9571,79868,47946,15498,21896,404,6095,4946,9639,709
49,2015,강남구,255532,15264,96813,57487,25951,29450,349,8405,6988,14661,164
50,2015,송파구,307353,12231,99409,65162,29277,43410,532,17016,13978,25101,1237
51,2015,강동구,218203,5107,56889,42834,24285,31714,508,19744,13911,23105,106

In [ ]:
#

In [113]:
df13333 = pd.read_csv('./result_test.csv',  header=0, encoding='euc-kr' )
df13333

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,10인세대 이상,소계,아파트,연립주택,다세대주택,비거주용 건물내 주택,행정구역면적(㎡),공원면적(㎡),공원율(%),공원 계
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,2014,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
539,2015,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
540,2016,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
541,2017,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
542,2018,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0

In [ ]:
df_re[df_re['년도']>=2014]

In [109]:
df_result.to_csv("./result_test.csv", encoding='euc-kr')

In [14]:
#데이터 14

#컬럼의 이름으로 변경할 데이터 값 추출
col_name = list(df14_ft.iloc[1:12,2])
col_name

# '직업유형' 행에서 열로 이동
for i in range(len(col_name)):
    df14_ft[f'{col_name[i]}'] = 0

df14_ft

#데이터 값 추출
col_total2 =  list(df14_ft.iloc[12:24,3])
col_total2


#열의 형태로 들어가 있는 데이터 값을 행의 형태로 변경
for i in range(len(col_total)):
    if i%11 == 0:
        df14_ft.loc[i, f'{col_name[i]}'] = col_total[i]
    elif i%11 == 1:
        df14_ft.loc[i+11, f'{col_total2[i]}'] = col_total2[1+1] 
df14_ft

#최종 결과 확인 위해 테스트 엑셀파일 생성
df14_ft.T.to_csv("./df14_test.csv", encoding='euc-kr')