In [1]:
import pandas as pd

In [144]:
#issue
#- 행 (서울시 = 합계 : 데이터 13)

In [145]:
#데이터 1 
df01 = pd.read_excel('데이터/01_서울시 주민등록인구 (구별)통계_05-18.xls', header=2)
df01_ft=df01[['기간', '자치구','계.1','남자.1','여자.1']]
df01_ft.rename(columns={'기간':'년도','계.1':'사람 수','남자.1':'남자수', '여자.1':'여자수'}, inplace = True)
df01_ft

       년도  자치구      사람 수      남자수      여자수
0    2005   합계  10167344  5062492  5104852
1    2005  종로구    169315    84981    84334
2    2005   중구    130027    64995    65032
3    2005  용산구    230260   113158   117102
4    2005  성동구    337744   169346   168398
..    ...  ...       ...      ...      ...
359  2018  관악구    501957   252160   249797
360  2018  서초구    433951   207868   226083
361  2018  강남구    542364   259611   282753
362  2018  송파구    666635   323526   343109
363  2018  강동구    427573   211816   215757

[364 rows x 5 columns]

In [146]:
#데이터 2
df02= pd.read_excel('데이터/02_서울시 유기동물보호 현황 통계(05~18).xls', header=2)
df02_ft=df02[['기간','자치구','계','인도(주인)','입양분양','폐사안락사','계류기증']]
df02_ft.rename(columns={'기간':'년도',"계":"유기견수","인도(주인)":"복귀"}, inplace = True)
df02_ft

       년도  자치구   유기견수   복귀  입양분양  폐사안락사  계류기증
0    2005   합계  14679  601   525   7736  5817
1    2005  종로구    258   12     3     89   154
2    2005   중구    264    0     9    102   153
3    2005  용산구    383   12    12    170   189
4    2005  성동구    431   19     7     96   309
..    ...  ...    ...  ...   ...    ...   ...
359  2018  관악구    493  207   275     11     -
360  2018  서초구    124   42    15     64     3
361  2018  강남구    158   58    41     57     2
362  2018  송파구    211   57    62     90     2
363  2018  강동구    291  130   107     52     2

[364 rows x 7 columns]

In [147]:
#데이터 결과 = 데이터 1 + 데이터 2
df_result=pd.merge(df01_ft,df02_ft)
df_result

       년도  자치구      사람 수      남자수      여자수   유기견수   복귀  입양분양  폐사안락사  계류기증
0    2005   합계  10167344  5062492  5104852  14679  601   525   7736  5817
1    2005  종로구    169315    84981    84334    258   12     3     89   154
2    2005   중구    130027    64995    65032    264    0     9    102   153
3    2005  용산구    230260   113158   117102    383   12    12    170   189
4    2005  성동구    337744   169346   168398    431   19     7     96   309
..    ...  ...       ...      ...      ...    ...  ...   ...    ...   ...
359  2018  관악구    501957   252160   249797    493  207   275     11     -
360  2018  서초구    433951   207868   226083    124   42    15     64     3
361  2018  강남구    542364   259611   282753    158   58    41     57     2
362  2018  송파구    666635   323526   343109    211   57    62     90     2
363  2018  강동구    427573   211816   215757    291  130   107     52     2

[364 rows x 10 columns]

In [148]:
#데이터 3 (서울시 / 합계 이슈)
df03 = pd.read_excel('데이터/03_서울시 반려동물 유무 및 취득 경로 통계(14~18).xls', header=1)
df03.rename(columns={"대분류":"자치구", "기간":"년도"}, inplace = True)
a = df03.loc[0,'자치구']
df03 = df03.replace(a,'합계')
df03

,년도,자치구,분류,있다,없다,동물판매업소,유상입양,무상입양,인터넷을 통해 구입,유기동물 입양,원래 기르던 동물이 낳은 새끼,기타
0,2014,합계,합계,19.4,80.6,34.6,18.9,39.4,1.8,3.5,7.2,0.1
1,2014,성별,남자,18.8,81.2,35,18,39.9,1.9,3.3,7.1,0.1
2,2014,성별,여자,22.5,77.5,32.9,23.1,37.2,1.2,4.4,7.8,-
3,2014,연령별,20대 이하,21.5,78.5,42,20.4,33.1,1.7,2.2,5,-
4,2014,연령별,30대,15.5,84.5,36.4,18.6,39.5,2.7,3.1,4.6,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
295,2018,관악구,관악구,…,…,-,-,-,-,-,-,-
296,2018,서초구,서초구,…,…,-,-,-,-,-,-,-
297,2018,강남구,강남구,…,…,-,-,-,-,-,-,-
298,2018,송파구,송파구,…,…,-,-,-,-,-,-,-
299,2018,강동구,강동구,…,…,-,-,-,-,-,-,-

In [149]:
#데이터 결과 = 데이터 결과 +데이터 3
df_result = pd.merge(df_result, df03, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,분류,있다,없다,동물판매업소,유상입양,무상입양,인터넷을 통해 구입,유기동물 입양,원래 기르던 동물이 낳은 새끼,기타
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,도심권,22.4,77.6,-,-,-,-,-,-,-
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,동북권,20.2,79.8,-,-,-,-,-,-,-
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서북권,19.8,80.2,-,-,-,-,-,-,-
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서남권,18.1,81.9,-,-,-,-,-,-,-
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,동남권,22.3,77.7,-,-,-,-,-,-,-

In [150]:
#데이터 6
df06 = pd.read_excel('데이터/06_서울시 가구원수별 가구수(구별) 통계(05,10,15,16,17,18).xls', header=1)
df06.rename(columns={'구분':'자치구', '기간':'년도'}, inplace = True)
df06

,년도,자치구,계,1인가구,2인가구,3인가구,4인가구,5인 가구,6인가구,7인이상 가구,평균가구원수
0,2005,합계,3309890,675739,670455,732043,917243,248450,49781,16179,2.9
1,2005,종로구,54534,14592,11641,10624,12373,4087,905,312,2.7
2,2005,중구,46625,13128,9833,9270,9961,3538,627,268,2.7
3,2005,용산구,76125,18218,18032,16187,17302,4902,1088,396,2.7
4,2005,성동구,111485,23161,24104,24784,28823,8263,1756,594,2.8
...,...,...,...,...,...,...,...,...,...,...,...
151,2018,관악구,236761,112733,54106,35925,25997,6172,1451,377,2.0
152,2018,서초구,155418,41137,38475,35620,31029,7112,1598,447,2.6
153,2018,강남구,203083,62727,50076,43542,36572,8063,1664,439,2.4
154,2018,송파구,243547,63451,61970,56824,48156,10366,2235,545,2.5
155,2018,강동구,159233,42126,41450,36503,30197,7084,1468,405,2.5

In [151]:
#데이터 결과 = 데이터 결과 + 데이터 6
df_result = pd.merge(df_result, df06, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,기타,계,1인가구,2인가구,3인가구,4인가구,5인 가구,6인가구,7인이상 가구,평균가구원수
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,3309890.0,675739.0,670455.0,732043.0,917243.0,248450.0,49781.0,16179.0,2.9
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,54534.0,14592.0,11641.0,10624.0,12373.0,4087.0,905.0,312.0,2.7
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,46625.0,13128.0,9833.0,9270.0,9961.0,3538.0,627.0,268.0,2.7
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,76125.0,18218.0,18032.0,16187.0,17302.0,4902.0,1088.0,396.0,2.7
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,111485.0,23161.0,24104.0,24784.0,28823.0,8263.0,1756.0,594.0,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
#데이터 11
df11 = pd.read_excel('데이터/11_서울시 세대원수별 세대수(구별) 통계(13~18).xls', header=0)
df11.rename(columns={'기간':'년도'}, inplace = True)
df11

,년도,자치구,전체세대,1인세대,2인세대,3인세대,4인세대,5인세대,6인세대,7인세대,8인세대,9인세대,10인세대 이상
0,2013,합계,4182351,1510202,810516,780698,822832,200130,44057,9977,2583,805,551
1,2013,종로구,73693,34259,13213,11146,10932,3123,755,197,40,14,14
2,2013,중구,60600,27959,11709,9385,8515,2287,548,137,33,10,17
3,2013,용산구,109361,48569,21093,17772,16371,4208,984,244,82,20,18
4,2013,성동구,126447,47609,25016,23452,22951,5613,1370,316,87,27,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,2018,관악구,262222,142742,48591,33787,28087,6823,1576,425,129,37,25
152,2018,서초구,172918,57213,34019,34110,35896,8780,2067,552,177,59,45
153,2018,강남구,228775,88584,42357,40866,43665,10097,2292,618,180,77,39
154,2018,송파구,270866,90734,55726,54172,54371,12242,2704,623,207,56,31
155,2018,강동구,177247,61564,37946,34542,32974,7933,1695,429,110,27,27

In [153]:
#데이터 결과 = 데이터 결과 + 데이터 11
df_result = pd.merge(df_result, df11, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,1인세대,2인세대,3인세대,4인세대,5인세대,6인세대,7인세대,8인세대,9인세대,10인세대 이상
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
#데이터 13 (서울시 / 합계 이슈)
df13 = pd.read_excel('데이터/13_서울시 주택종류별 주택(구별) 통계(15~18).xls', header=2)
df13_ft=df13[['기간','자치구','소계','아파트','연립주택','다세대주택','비거주용 건물내 주택']]
df13_ft.rename(columns={'기간':'년도'}, inplace = True)
a = df13_ft.loc[0,'자치구']
df13_ft = df13_ft.replace(a,'합계')
df13_ft

       년도  자치구      소계      아파트    연립주택   다세대주택  비거주용 건물내 주택
0    2015   합계  355039  1636896  117235  654372        29702
1    2015  종로구   13103    12552    5395   11664          836
2    2015   중구    6436    22186    1975    6148          733
3    2015  용산구   15503    35343    4029   15206          642
4    2015  성동구   11250    59331    2076    8610         1064
..    ...  ...     ...      ...     ...     ...          ...
99   2018  관악구   21584    53915    6442   41274         1933
100  2018  서초구    6395    93299    5592   25426         1328
101  2018  강남구    7283   124418    6121   31817         1792
102  2018  송파구    8441   119226    4797   65656         1619
103  2018  강동구   10467    75473    3512   32149         1117

[104 rows x 7 columns]

In [155]:
#데이터 결과 = 데이터 결과 + 데이터 13
df_result = pd.merge(df_result, df13_ft, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,6인세대,7인세대,8인세대,9인세대,10인세대 이상,소계,아파트,연립주택,다세대주택,비거주용 건물내 주택
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
532,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
533,2018,지역대분류,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
#데이터 07
df07 = pd.read_excel('데이터/07_서울시 공원 (공원율) 통계 [10-18].xls', header=1)
df07_ft=df07[['기간','구분','행정구역면적(㎡)','합계','공원율(%)']]
df07_ft.rename(columns={'기간':'년도', '구분':'자치구','합계':'공원면적(㎡)'}, inplace = True)
df07_ft

       년도    자치구  행정구역면적(㎡)    공원면적(㎡) 공원율(%)
0    2010     합계  605251484  169792302  28.05
1    2010    종로구   23907423   10900949   45.6
2    2010     중구    9959933    3125323  31.38
3    2010    용산구   21867354    1350163   6.17
4    2010    성동구   16848684    2869532  17.03
..    ...    ...        ...        ...    ...
238  2018    서초구   46982024   16036321  34.13
239  2018    강남구   39501308    6591655  16.69
240  2018    송파구   33876548    4642075   13.7
241  2018    강동구   24589280    3369970  13.71
242  2018  서울대공원          -    6670000      -

[243 rows x 5 columns]

In [157]:
#데이터 결과= 데이터 결과 + 데이터 07
df_result = pd.merge(df_result, df07_ft, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,9인세대,10인세대 이상,소계,아파트,연립주택,다세대주택,비거주용 건물내 주택,행정구역면적(㎡),공원면적(㎡),공원율(%)
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,2014,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
539,2015,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
540,2016,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
541,2017,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-
542,2018,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-

In [158]:
#데이터 08
df08 = pd.read_excel('데이터/08_서울시 공원 통계 [13-18].xls', header=2)
df08_ft=df08[['기간','자치구','공원수']]
df08_ft.rename(columns={'기간':'년도', '공원수':'공원 계'}, inplace = True)
df08_ft

       년도    자치구  공원 계
0    2013     합계  2782
1    2013    종로구   114
2    2013     중구    68
3    2013    용산구   101
4    2013    성동구    80
..    ...    ...   ...
157  2018    서초구   165
158  2018    강남구   155
159  2018    송파구   168
160  2018    강동구   124
161  2018  서울대공원     1

[162 rows x 3 columns]

In [161]:
#데이터 결과= 데이터 결과 + 데이터 08
df_result = pd.merge(df_result, df08_ft, how='outer')
df_result

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,10인세대 이상,소계,아파트,연립주택,다세대주택,비거주용 건물내 주택,행정구역면적(㎡),공원면적(㎡),공원율(%),공원 계
0,2005,합계,10167344.0,5062492.0,5104852.0,14679.0,601.0,525.0,7736.0,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315.0,84981.0,84334.0,258.0,12.0,3.0,89.0,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027.0,64995.0,65032.0,264.0,0.0,9.0,102.0,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260.0,113158.0,117102.0,383.0,12.0,12.0,170.0,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744.0,169346.0,168398.0,431.0,19.0,7.0,96.0,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,2014,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
539,2015,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
540,2016,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
541,2017,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0
542,2018,서울대공원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,6670000.0,-,1.0

In [2]:
#데이터 14
# pd.read_excel('엑셀파일명.xlsx', sheet_name = '시트이름')

df14 = pd.read_excel('데이터/14_서울시 직업유형별 취업인구 (구별) 통계(10,15).xls',  header=0)
df14_ft=df14[['기간','행정구역','직업유형','합계']]
df14_ft.rename(columns={'기간':'년도','행정구역':'자치구'}, inplace = True)
df14_ft

D:\2019_multicampus\installed forder\2.1 anaconda\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

       년도  자치구            직업유형       합계
0    2010   합계              소계  4609336
1    2010   합계             관리자   192621
2    2010   합계     전문가 및 관련종사자  1166525
3    2010   합계           사무종사자   929604
4    2010   합계          서비스종사자   480995
5    2010   합계           판매종사자   658545
6    2010   합계     농림어업 숙련 종사자    11299
7    2010   합계   기능원 및 관련기능종사자   388647
8    2010   합계  장치기계조작 및 조립종사자   303590
9    2010   합계         단순노무종사자   467694
10   2010   합계              기타     7631
11   2010   합계              미상     2185
12   2010  종로구              소계    71986
13   2010  종로구             관리자     2717
14   2010  종로구     전문가 및 관련종사자    17824
15   2010  종로구           사무종사자    12858
16   2010  종로구          서비스종사자     8468
17   2010  종로구           판매종사자    11519
18   2010  종로구     농림어업 숙련 종사자      128
19   2010  종로구   기능원 및 관련기능종사자     7926
20   2010  종로구  장치기계조작 및 조립종사자     2941
21   2010  종로구         단순노무종사자     7231
22   2010  종로구              기타      319
23   2010  종로구              미상       55
24   2010   중구              소계    59446
25   2010   중구             관리자     1572
26   2010   중구     전문가 및 관련종사자    11395
27   2010   중구           사무종사자    10352
28   2010   중구          서비스종사자     6771
29   2010   중구           판매종사자    11646
..    ...  ...             ...      ...
568  2015  강남구           사무종사자    57487
569  2015  강남구          서비스종사자    25951
570  2015  강남구           판매종사자    29450
571  2015  강남구     농림어업 숙련 종사자      349
572  2015  강남구   기능원 및 관련기능종사자     8405
573  2015  강남구  장치기계조작 및 조립종사자     6988
574  2015  강남구         단순노무종사자    14661
575  2015  강남구              기타      164
576  2015  송파구              소계   307353
577  2015  송파구             관리자    12231
578  2015  송파구     전문가 및 관련종사자    99409
579  2015  송파구           사무종사자    65162
580  2015  송파구          서비스종사자    29277
581  2015  송파구           판매종사자    43410
582  2015  송파구     농림어업 숙련 종사자      532
583  2015  송파구   기능원 및 관련기능종사자    17016
584  2015  송파구  장치기계조작 및 조립종사자    13978
585  2015  송파구         단순노무종사자    25101
586  2015  송파구              기타     1237
587  2015  강동구              소계   218203
588  2015  강동구             관리자     5107
589  2015  강동구     전문가 및 관련종사자    56889
590  2015  강동구           사무종사자    42834
591  2015  강동구          서비스종사자    24285
592  2015  강동구           판매종사자    31714
593  2015  강동구     농림어업 숙련 종사자      508
594  2015  강동구   기능원 및 관련기능종사자    19744
595  2015  강동구  장치기계조작 및 조립종사자    13911
596  2015  강동구         단순노무종사자    23105
597  2015  강동구              기타      106

[598 rows x 4 columns]

In [3]:
col_name = list(df14_ft.iloc[1:12,2])
col_name

['관리자',
 '전문가 및 관련종사자',
 '사무종사자',
 '서비스종사자',
 '판매종사자',
 '농림어업 숙련 종사자',
 '기능원 및 관련기능종사자',
 '장치기계조작 및 조립종사자',
 '단순노무종사자',
 '기타',
 '미상']

In [4]:
#직업유형 값들을 컬럼으로 추가
for i in range(len(col_name)):
   # print(i)
    df14_ft[f'{col_name[i]}'] = 0
    #columns.append(i)
#columns
df14_ft

D:\2019_multicampus\installed forder\2.1 anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,년도,자치구,직업유형,합계,관리자,전문가 및 관련종사자,사무종사자,서비스종사자,판매종사자,농림어업 숙련 종사자,기능원 및 관련기능종사자,장치기계조작 및 조립종사자,단순노무종사자,기타,미상
0,2010,합계,소계,4609336,0,0,0,0,0,0,0,0,0,0,0
1,2010,합계,관리자,192621,0,0,0,0,0,0,0,0,0,0,0
2,2010,합계,전문가 및 관련종사자,1166525,0,0,0,0,0,0,0,0,0,0,0
3,2010,합계,사무종사자,929604,0,0,0,0,0,0,0,0,0,0,0
4,2010,합계,서비스종사자,480995,0,0,0,0,0,0,0,0,0,0,0
5,2010,합계,판매종사자,658545,0,0,0,0,0,0,0,0,0,0,0
6,2010,합계,농림어업 숙련 종사자,11299,0,0,0,0,0,0,0,0,0,0,0
7,2010,합계,기능원 및 관련기능종사자,388647,0,0,0,0,0,0,0,0,0,0,0
8,2010,합계,장치기계조작 및 조립종사자,303590,0,0,0,0,0,0,0,0,0,0,0
9,2010,합계,단순노무종사자,467694,0,0,0,0,0,0,0,0,0,0,0
10,2010,합계,기타,7631,0,0,0,0,0,0,0,0,0,0,0
11,2010,합계,미상,2185,0,0,0,0,0,0,0,0,0,0,0
12,2010,종로구,소계,71986,0,0,0,0,0,0,0,0,0,0,0
13,2010,종로구,관리자,2717,0,0,0,0,0,0,0,0,0,0,0
14,2010,종로구,전문가 및 관련종사자,17824,0,0,0,0,0,0,0,0,0,0,0
15,2010,종로구,사무종사자,12858,0,0,0,0,0,0,0,0,0,0,0
16,2010,종로구,서비스종사자,8468,0,0,0,0,0,0,0,0,0,0,0
17,2010,종로구,판매종사자,11519,0,0,0,0,0,0,0,0,0,0,0
18,2010,종로구,농림어업 숙련 종사자,128,0,0,0,0,0,0,0,0,0,0,0
19,2010,종로구,기능원 및 관련기능종사자,7926,0,0,0,0,0,0,0,0,0,0,0
20,2010,종로구,장치기계조작 및 조립종사자,2941,0,0,0,0,0,0,0,0,0,0,0
21,2010,종로구,단순노무종사자,7231,0,0,0,0,0,0,0,0,0,0,0
22,2010,종로구,기타,319,0,0,0,0,0,0,0,0,0,0,0
23,2010,종로구,미상,55,0,0,0,0,0,0,0,0,0,0,0
24,2010,중구,소계,59446,0,0,0,0,0,0,0,0,0,0,0
25,2010,중구,관리자,1572,0,0,0,0,0,0,0,0,0,0,0
26,2010,중구,전문가 및 관련종사자,11395,0,0,0,0,0,0,0,0,0,0,0
27,2010,중구,사무종사자,10352,0,0,0,0,0,0,0,0,0,0,0
28,2010,중구,서비스종사자,6771,0,0,0,0,0,0,0,0,0,0,0
29,2010,중구,판매종사자,11646,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,2015,강남구,사무종사자,57487,0,0,0,0,0,0,0,0,0,0,0
569,2015,강남구,서비스종사자,25951,0,0,0,0,0,0,0,0,0,0,0
570,2015,강남구,판매종사자,29450,0,0,0,0,0,0,0,0,0,0,0
571,2015,강남구,농림어업 숙련 종사자,349,0,0,0,0,0,0,0,0,0,0,0
572,2015,강남구,기능원 및 관련기능종사자,8405,0,0,0,0,0,0,0,0,0,0,0
573,2015,강남구,장치기계조작 및 조립종사자,6988,0,0,0,0,0,0,0,0,0,0,0
574,2015,강남구,단순노무종사자,14661,0,0,0,0,0,0,0,0,0,0,0
575,2015,강남구,기타,164,0,0,0,0,0,0,0,0,0,0,0
576,2015,송파구,소계,307353,0,0,0,0,0,0,0,0,0,0,0
577,2015,송파구,관리자,12231,0,0,0,0,0,0,0,0,0,0,0
578,2015,송파구,전문가 및 관련종사자,99409,0,0,0,0,0,0,0,0,0,0,0
579,2015,송파구,사무종사자,65162,0,0,0,0,0,0,0,0,0,0,0
580,2015,송파구,서비스종사자,29277,0,0,0,0,0,0,0,0,0,0,0
581,2015,송파구,판매종사자,43410,0,0,0,0,0,0,0,0,0,0,0
582,2015,송파구,농림어업 숙련 종사자,532,0,0,0,0,0,0,0,0,0,0,0
583,2015,송파구,기능원 및 관련기능종사자,17016,0,0,0,0,0,0,0,0,0,0,0
584,2015,송파구,장치기계조작 및 조립종사자,13978,0,0,0,0,0,0,0,0,0,0,0
585,2015,송파구,단순노무종사자,25101,0,0,0,0,0,0,0,0,0,0,0
586,2015,송파구,기타,1237,0,0,0,0,0,0,0,0,0,0,0
587,2015,강동구,소계,218203,0,0,0,0,0,0,0,0,0,0,0
588,2015,강동구,관리자,5107,0,0,0,0,0,0,0,0,0,0,0
589,2015,강동구,전문가 및 관련종사자,56889,0,0,0,0,0,0,0,0,0,0,0
590,2015,강동구,사무종사자,42834,0,0,0,0,0,0,0,0,0,0,0
591,2015,강동구,서비스종사자,24285,0,0,0,0,0,0,0,0,0,0,0
592,2015,강동구,판매종사자,31714,0,0,0,0,0,0,0,0,0,0,0
593,2015,강동구,농림어업 숙련 종사자,508,0,0,0,0,0,0,0,0,0,0,0
594,2015,강동구,기능원 및 관련기능종사자,19744,0,0,0,0,0,0,0,0,0,0,0
595,2015,강동구,장치기계조작 및 조립종사자,13911,0,0,0,0,0,0,0,0,0,0,0
596,2015,강동구,단순노무종사자,23105,0,0,0,0,0,0,0,0,0,0,0
597,2015,강동구,기타,106,0,0,0,0,0,0,0,0,0,0,0

In [212]:
#각 자치구 별 직업유형의 값을 컬럼에 추가해야함.
col_total =  list(df14_ft.iloc[1:12,3])
col_total

[192621,
 1166525,
 929604,
 480995,
 658545,
 11299,
 388647,
 303590,
 467694,
 7631,
 2185]

In [139]:
for i in range(len(df04)):
    if i%3 == 1:
        for j in range(3, 11):
            df04.loc[i-1, f'{columns[j]}_남'] = df04.loc[i][f'{columns[j]}']
            #print(i,'행의 ',columns[j] ,'열의 값은 ', df04.loc[i][columns[j]] )
    elif i%3 == 2:
        for j in range(3, 11):
            df04.loc[i-2, f'{columns[j]}_여'] = df04.loc[i][f'{columns[j]}']

AttributeError: 'numpy.float64' object has no attribute 'text'

In [215]:
for i in range(len(col_total)):
    if i%11 == 0:
        df14_ft.loc[i, f'{col_name[i]}'] = col_total[i]
    elif i%11 == 0:
        df14_ft.loc[i, f'{col_name[i]}'] = col_total[i]
   
df14_ft

,년도,자치구,직업유형,합계,관리자,전문가 및 관련종사자,사무종사자,서비스종사자,판매종사자,농림어업 숙련 종사자,기능원 및 관련기능종사자,장치기계조작 및 조립종사자,단순노무종사자,기타,미상
0,2010,합계,소계,4609336,192621,1166525,929604,480995,658545,11299,388647,303590,467694,7631,2185
1,2010,합계,관리자,192621,0,0,0,0,0,0,0,0,0,0,0
2,2010,합계,전문가 및 관련종사자,1166525,0,0,0,0,0,0,0,0,0,0,0
3,2010,합계,사무종사자,929604,0,0,0,0,0,0,0,0,0,0,0
4,2010,합계,서비스종사자,480995,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,2015,강동구,농림어업 숙련 종사자,508,0,0,0,0,0,0,0,0,0,0,0
594,2015,강동구,기능원 및 관련기능종사자,19744,0,0,0,0,0,0,0,0,0,0,0
595,2015,강동구,장치기계조작 및 조립종사자,13911,0,0,0,0,0,0,0,0,0,0,0
596,2015,강동구,단순노무종사자,23105,0,0,0,0,0,0,0,0,0,0,0
597,2015,강동구,기타,106,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_re[df_re['년도']>=2014]

In [160]:
df_re2.to_csv("./result_test.csv", encoding='euc-kr')