In [2]:
#%matplotlib inline
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

#파일 저장
import os

In [3]:
df = pd.read_csv('merged_data/result_total.csv',  header=1, encoding='euc-kr' )
df

,년도,자치구,사람 수,남자수,여자수,유기견수,복귀,입양분양,폐사안락사,계류기증,...,비거주용 건물내 주택_여,주택이외의 거처_남,주택이외의 거처_여,20세미만,20대,30대,40대,50대,60대,70대이상
0,2005,합계,10167344,5062492,5104852,14679,601,525,7736,5817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,종로구,169315,84981,84334,258,12,3,89,154,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,중구,130027,64995,65032,264,0,9,102,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,용산구,230260,113158,117102,383,12,12,170,189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005,성동구,337744,169346,168398,431,19,7,96,309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2018,관악구,501957,252160,249797,493,207,275,11,-,...,3988.0,10141.0,9072.0,1048.0,44034.0,29453.0,12561.0,9599.0,7968.0,8070.0
360,2018,서초구,433951,207868,226083,124,42,15,64,3,...,703.0,3164.0,2883.0,504.0,8625.0,11800.0,7192.0,4776.0,4137.0,4103.0
361,2018,강남구,542364,259611,282753,158,58,41,57,2,...,1165.0,4985.0,4935.0,421.0,13164.0,20173.0,10591.0,6413.0,5760.0,6205.0
362,2018,송파구,666635,323526,343109,211,57,62,90,2,...,844.0,5549.0,5669.0,286.0,12058.0,18041.0,10580.0,8130.0,7496.0,6860.0
363,2018,강동구,427573,211816,215757,291,130,107,52,2,...,555.0,2999.0,2431.0,144.0,6441.0,9081.0,6837.0,7105.0,6625.0,5893.0